.welcome-header {
    background-image: url(../material-kit/assets/img/bg2.jpg);
    transform: translate3d(0px, 0px, 0px);
}

.img-card-responsive {
    width: auto;
    height: 220px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.material-icons.primary-purple {
    color: #9C27B0;
}
